body {
  font-family: Courier New;
  background-color: #021c3b;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
}

.title {
  font-size: 4 eem;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #020f1f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  width: fit-content;
  margin: auto;
}

.button:hover {
  background-color: #0f2f5f;
}

.button:active {
  background-color: darkgray;
}

.image-container {
  width: 100%;
  height: 30rem;

  border-radius: 5px;
}

.image {
  width: 30%;
  height: 100%;
  border-radius: 5px;
}

.description {
  margin-top: 20px;
  font-size: 1.5em;
  color: white;
  width: 75%;
  margin: auto;
  line-height: 2rem;
}

@media screen and (min-width: 2560px) {
  .image-container {
    width: 100%;
    height: 42rem;

    border-radius: 5px;
  }
  .header {
    font-size: 4em;
  }
  .animal-name {
    font-size: 3em;
  }
  .title {
    font-size: 5em;
  }
  .button {
    font-size: 2.5em;
  }
  .card {
    margin-bottom: 3em;
  }
  .description {
    font-size: 2em;
    width: 75%;
    margin: auto;
  }
}
